.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 0.75rem "Rajdhani";
  background-color: #a09999;
}

.footer img {
  margin-left: 0.5rem;
  width: 100px;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}