@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&family=Oswald:wght@400;700&family=Rajdhani:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font: 400 2.5rem Oswald;
}

h3 {
  font: 400 1.5rem Oswald;
}
